<section>
  <form class="event-form">
    <mat-form-field appearance="fill">
      <mat-icon color="primary" matSuffix>search</mat-icon>
      <mat-label>Search for hackathons...</mat-label>
      <input matInput [formControl]="eventsInput">
    </mat-form-field>
  </form>
  <div>
    <div class="event-list" *ngIf="events$ | async as events; else empty">
      <div *ngFor="let event of events">
        <app-event-card [event]="event">
          <div class="event-btns">
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit event"
              (click)="editEvent()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Remove event"
              (click)="removeEvent(event._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </app-event-card>
      </div>
    </div>
    <ng-template #empty>
      <p class="event-list--empty">No events...</p>
    </ng-template>
  </div>
  <app-event-btn-new></app-event-btn-new>
</section>
